.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

form {
  width: 99%;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  margin-right: 10px;
}

label {
  color: silver;
  font-weight: bold;
  font-size: 15px;
  text-indent: 10px;
}

input {
  text-indent: 5px;
}

button:hover {
  cursor: pointer;
}

form .header-container h1 {
  color: silver;
  font-size: 20px;
  border-bottom: 1px solid silver;
  text-indent: 10px;
}

.nameContainer, .contactContainer {
  border: 1px solid red;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.dateContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.startContainer, .endContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.startContainer input, .endContainer input {
  width: 90%;
}

#firstName, #lastName, #emailInput, #phoneNo {
  width: 50%;
}

/*
.perSection-wrapper .header-container h1,
.eduSection-wrapper .header-container h1,
.expSection-wrapper .header-container h1 {
    color: silver;
    font-size: 20px;
    border-bottom: 1px solid silver;
}*/